body {
    padding: 50px;
  }
  .form-group {
    margin-bottom: 1.5rem;
  }
  .form-label {
    font-weight: bold;
  }
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  // .form-container {
  //   // background-image: url("../../assets/registration.jpg");
  //   background-size: cover;
  //   padding: 20px;
  //   margin-top: 30px;
  //   opacity: 0.9;
  //   background-color: #e2e3e5;
  // }
  

  // .container {
  //   background: url('../../assets/registrationbanner.jpg') no-repeat center center fixed;
  //   -webkit-background-size: cover;
  //   -moz-background-size: cover;
  //   -o-background-size: cover;
  //   background-size: cover;
  //   position: relative;
  //   z-index: 1;
  // }
  
  // .container:before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   z-index: -1;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background: inherit;
  //   opacity: 0.5;
  // }


  .container {
    /* Background image applied using the url() function */
    background: url('../../assets/registrationbanner.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;
  }

  .container:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    opacity: 2.10;
  }

  .btn-3d {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    background-color: #007bff;
    border: none;
    margin-top:10px ;
    border-bottom: 4px solid #0056b3;
    border-radius: 5px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-out;
  }
  
  .btn-3d:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .btn-3d:active {
    transform: translateY(0);
    box-shadow: none;
    border-bottom: none;
  }


//   .input-3d {
//   position: relative;
//   display: inline-block;
//   margin: 20px;
// }

.input-3d input {
  padding: 10px;
  border: none;
  border-bottom: 4px solid #0056b3;
  border-radius: 5px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-out;
}

.input-3d input:focus {
  outline: none;
  transform: translateY(-2px);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.3), 0 8px 16px rgba(0, 0, 0, 0.3);
}

.input-3d input:active {
  transform: translateY(0);
  box-shadow: none;
  border-bottom: none;
}